// Variables

$color-main: #0075FF;

// Mixins

@mixin btn-base {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
}

@mixin btn-s {
  font-size: 0.75rem;
  padding: 0.1rem 1rem;
}

@mixin general-card-icon {
  color: $color-main;
  font-size: 10rem;
}

// Components

.btn-main {
  @include btn-base();
  background-color: $color-main;
  color: white;
  border: 1px solid $color-main;

  &:hover {
    background-color: white;
    color: $color-main;
  }

  &-s {
    @extend .btn-main;
    @include btn-s();
  }
}

.btn-sec {
  @extend .btn-main;
  color: black;
  background-color: transparent;
  border: none;

  &-s {
    @extend .btn-sec; // @extend .btn-main-s, .btn-sec;
    @include btn-s();
  }

  &:hover {
    background-color: transparent;
    color: #888;
  }
}

.main-menu {
  padding: 0;
  margin: 0;

  li {
    font-size: 0.75rem;
    list-style: none;
    display: inline;
    padding: 0 0.5rem;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.icon-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  i {
    position: absolute;
    top: 2px;
    color: $color-main;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;

  .icon {
    @include general-card-icon();
  }

  .description {
    text-align: center;

    .title {
      font-size: 2rem;
    }

    .text {
      color: rgba(0, 0, 0, 0.6);
      font-weight: 600;
    }

  }

  .cta {
    color: $color-main;
    font-weight: 600;
    margin-top: 5rem;
    text-align: center;
  }
}

.icon-desc {
  width: 18rem;
  text-align: center;

  .icon {
    @include general-card-icon();
  }
}